In [2]:
import pandas as pd
pd.set_option('display.max_columns', 500)

In [4]:
demographics = pd.read_table('/Users/regi/Flatiron/mod5_project/ICPSR_25503/DS0001/25503-0001-Data.tsv')

In [5]:
demographics.columns.values

array(['SEQN', 'SDDSRVYR', 'RIDSTATR', 'RIDEXMON', 'RIAGENDR', 'RIDAGEYR',
       'RIDAGEMN', 'RIDAGEEX', 'RIDRETH1', 'RIDRETH2', 'DMQMILIT',
       'DMDBORN', 'DMDCITZN', 'DMDYRSUS', 'DMDEDUC3', 'DMDEDUC2',
       'DMDEDUC', 'DMDSCHOL', 'DMDMARTL', 'DMDHHSIZ', 'INDHHINC',
       'INDFMINC', 'INDFMPIR', 'RIDEXPRG', 'DMDHRGND', 'DMDHRAGE',
       'DMDHRBRN', 'DMDHREDU', 'DMDHRMAR', 'DMDHSEDU', 'SIALANG',
       'SIAPROXY', 'SIAINTRP', 'FIALANG', 'FIAPROXY', 'FIAINTRP',
       'MIALANG', 'MIAPROXY', 'MIAINTRP', 'AIALANG', 'WTINT2YR',
       'WTMEC2YR', 'SDMVPSU', 'SDMVSTRA'], dtype=object)

In [6]:
demographics[['DMDEDUC3', 'DMDEDUC2',
       'DMDEDUC', 'DMDSCHOL']]

      DMDEDUC3 DMDEDUC2 DMDEDUC DMDSCHOL
0           11                1        1
1           11                1        2
2            8                1        1
3           10                1        1
4                     3       2
...        ...      ...     ...      ...
10117
10118                 3       2
10119                 2       1
10120                 4       3
10121

[10122 rows x 4 columns]

In [7]:
demographics

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,DMQMILIT,DMDBORN,DMDCITZN,DMDYRSUS,DMDEDUC3,DMDEDUC2,DMDEDUC,DMDSCHOL,DMDMARTL,DMDHHSIZ,INDHHINC,INDFMINC,INDFMPIR,RIDEXPRG,DMDHRGND,DMDHRAGE,DMDHRBRN,DMDHREDU,DMDHRMAR,DMDHSEDU,SIALANG,SIAPROXY,SIAINTRP,FIALANG,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANG,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA
0,21005,3,2,1,1,19,232,233,4,2,2,1,1,,11,,1,1,5,2,6,6,2.44,,1,39,1,5,3,,1,2,2,1,2,2,1,2,2,1,5512.320949,5824.782465,2,39
1,21006,3,2,2,2,16,203,205,4,2,,1,1,,11,,1,2,5,6,7,6,2.47,1,2,27,1,2,5,,1,2,2,1,2,2,1,2,2,1,5422.140453,5564.039715,1,41
2,21007,3,2,1,2,14,172,172,3,1,,1,1,,8,,1,1,5,5,,6,1.6,2,1,39,1,4,,,1,1,2,1,2,2,1,2,2,1,39764.177412,40591.066325,2,35
3,21008,3,2,2,1,17,208,209,4,2,2,1,1,,10,,1,1,5,7,11,7,2.75,,2,40,1,4,5,,1,2,2,1,2,2,1,2,2,1,5599.499351,5696.750596,1,32
4,21009,3,2,2,1,55,671,672,3,1,2,1,1,,,3,2,,1,2,8,8,3.79,,1,55,1,3,1,4,1,2,2,1,2,2,1,2,2,1,97593.678977,97731.727244,2,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10117,31122,3,2,2,2,5,66,67,3,1,,1,1,,,,,,,2,7,7,2.96,,2,34,1,3,3,,1,1,2,1,2,2,,,,,54397.174845,54777.955512,2,39
10118,31123,3,2,2,2,83,996,997,3,1,2,1,1,,,3,2,,1,2,,77,,,1,85,1,4,1,3,1,2,2,1,2,2,1,2,2,,17899.240502,21077.776577,1,39
10119,31124,3,2,1,1,44,537,538,1,3,2,2,2,4,,2,1,,1,6,11,9,3.93,,1,44,2,2,1,1,2,2,2,2,2,2,2,2,2,2,17304.950958,17496.954286,1,39
10120,31125,3,2,1,1,54,652,653,3,1,2,1,1,,,4,3,,1,2,11,11,5,,1,54,1,4,1,3,1,2,2,1,2,2,,,,,91529.306866,98202.490564,1,43
10121,31126,3,2,2,1,1,14,16,3,1,,1,1,,,,,,,4,11,11,5,,1,37,1,5,1,5,1,1,2,1,2,2,,,,,28876.331696,30842.809896,2,29

In [8]:
demographics[['RIDRETH1','RIDRETH2']]

       RIDRETH1  RIDRETH2
0             4         2
1             4         2
2             3         1
3             4         2
4             3         1
...         ...       ...
10117         3         1
10118         3         1
10119         1         3
10120         3         1
10121         3         1

[10122 rows x 2 columns]